<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Team Cartographer LMCC Server</title>
    <style>
        body {
            padding-left: 5px;
            background-color: rgb(187, 187, 187);
            font-family: monospace;
        }
        .button-container {
            display: flex;
            flex-direction: column;
        }
    </style>
</head>
<body>
	<h2>Team Cartographer LMCC Server Directory</h2>
    <b><i>(requires <a href="https://github.com/SUITS-Techteam/TSS_2024" target="_blank">SUITS TSS Server</a> to be running concurrently)</i></b>

    <div class="button-container" style="padding-top: 20px;">
        Tests:
        <ul>
        <li><a href="/tests/hello" class="button" target="_blank">Hello (/tests/hello/)</a></li>
        </ul>
    </div>

    <div class="button-container" style="padding-top: 20px;">
        API
        <ul>
            <li><a href="https://docs.google.com/document/d/1yw4C5l06nRaU0R5pzOYQgMIv8cQYLx5CaC7g5e9zWAo/edit" class="button" target="_blank"><b>API Plan (Docs Coming Soon)</b></a></li>
            <li style="padding-top: 20px;"><a href="/api/test_greeting" class="button" target="_blank">Greeting Test (/api/test_greeting/)</a></li>
            <li><a href="/api/v0" class="button" target="_blank">API v0 (/api/v0/)</a></li>
        </ul>
    </div>

    <div class="button-container" style="padding-top: 20px;">
        TSS:
        <ul>
        <li><a href="/tss/info" class="button" target="_blank">Information (/tss/info/)</a></li>
        <li><a href="/tss/telemetry" class="button" target="_blank">EVA Telemetry (/tss/telemetry/)</a></li>
        <li><a href="/tss/eva_info" class="buttom" target="_blank">EVA Info (/tss/eva_info/)</a></li>
        <li><a href="/tss/rockdata" class="button" target="_blank">Rock Data (/tss/rockdata/)</a></li>
        </ul>
    </div>

    <div class="button-container" style="padding-top: 20px;">
        Mission
        <ul>
            <li><a href="/mission/comm" class="button" target="_blank">Comm (/mission/comm/)</a></li>
            <li><a href="/mission/dcu" class="button" target="_blank">DCU (/mission/dcu/)</a></li>
            <li><a href="/mission/error" class="button" target="_blank">Error (/mission/error/)</a></li>
            <li><a href="/mission/imu" class="button" target="_blank">IMU (/mission/imu/)</a></li>
            <li><a href="/mission/rover" class="button" target="_blank">Rover (/mission/rover/)</a></li>
            <li><a href="/mission/spec" class="button" target="_blank">Spec (/mission/spec/)</a></li>
            <li><a href="/mission/uia" class="button" target="_blank">UIA (/mission/uia/)</a></li>
        </ul>
    </div>

    <div class="button-container" style="padding-top: 20px;">
        Error Pages
        <ul>
            <li><a href="/404" target="_blank" role="button">404 Error (/any invalid route/)</a></li>
        </ul>
    </div>

    <div class="button-container" style="padding-top: 20px;">
        Misc (either Unused, Overwritten, or Broken)
        <ul>
            <li><a href="/tss/completed_eva" class="button" target="_blank">Completed EVA Info (/tss/completed_eva/)</a></li>
            <li><a href="/tss/completed_telemetry" class="button" target="_blank">Completed EVA Telemetry (/tss/completed_telemetry/)</a></li>
        </ul>
    </div>

    <div style="
        display: flex;
        flex-direction: row;
        padding-top: 205px;
        padding-bottom: 10px;
    ">
        <span style="padding-right: 10px";> 2024 Team Cartographer --</span>
        <a href="https://github.com/Team-Cartographer/SUITS-2024-LMCC/tree/main/server" class="button" target="_blank">
            Server GitHub
        </a>
    </div>
</body>
</html>