/* do not remove @tailwind components whatsoever */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body
:root {
  font-family: 'Courier New', Courier, monospace;
}

/* .default_font {
  font-family: 'Courier New', Courier, monospace;
} */
